.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TextField {
    width: 400px;
    padding: 20px 0 0 30px;
    position: absolute;
}

.checkbox {
    width: 400px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.buttons {
    width: 400px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}