.tableWrap {
    padding-top: 202px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    position: absolute;
    left: 250px;
    top: 80px;
}
.title {
    position: absolute;
    width: 152px;
    height: 27px;
    left: 136px;
    top: 135px;
}

.link {
    position: absolute;
    width: 126px;
    height: 24px;
    left: 168px;
    top: 64px;
    display: inline-block;

    margin: 24px 0 12px 0;
    padding-left: 32px;

    font-family: inherit;
    font-size: 14px;
    line-height: 171%;
    color: #000;
    text-decoration: none;

    transition: all 0.3s ease-in-out 0s;
}

.link:hover {
    color: #DD3636
}

.link:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400.004 400.004'%3E%3Cpath d='M382.688 182.686H59.116l77.209-77.214c6.764-6.76 6.764-17.726 0-24.485-6.764-6.764-17.73-6.764-24.484 0L5.073 187.757c-6.764 6.76-6.764 17.727 0 24.485l106.768 106.775a17.252 17.252 0 0012.242 5.072c4.43 0 8.861-1.689 12.242-5.072 6.764-6.76 6.764-17.726 0-24.484l-77.209-77.218h323.572c9.562 0 17.316-7.753 17.316-17.315 0-9.562-7.753-17.314-17.316-17.314z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.wrapSearch {
    width: 1008px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 30px;
}

.headTable {
    width: 1008px;
    background: #EFEFEF;
    text-align: left;
    border-collapse: collapse;
}

.question {
    width: 267px;
}

.answer {
    width: 171px;
}

.lastUpdated {
    width: 186px;
}

.grade {
    width: 181px;
}